.text-title {
  font-size: 1rem;
}
.text-chapter {
  font-size: 0.8rem;
}
.text-title:hover,
.text-chapter:hover {
  animation-name: text-tc;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes text-tc {
  from {
    color: black;
  }
  to {
    color: rgb(252, 157, 34);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-title {
    font-size: 0.7rem;
  }
  .text-chapter {
    font-size: 0.5rem;
  }
  .content-l {
    font-size: 0.55rem !important;
  }
  .content-r {
    font-size: 0.55rem !important;
  }
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-wrap {
  flex: 1;
}
/* .mx-25{
    margin: 0 25%;
  } */

.br-5 {
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
}
img {
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
}
.row {
  --bs-gutter-x: 0rem !important;
}
.title-mg-l {
  position: absolute;
}
.content-l {
  display: inline-block;
  background-color: #00c6f8c5;
  color: whitesmoke;
  border-radius: 9px !important;
  -moz-border-radius: 9px !important;
  -webkit-border-radius: 9px !important;
  padding: 1px 8px 1.9px 8px;
  font-size: 0.85rem;
}
.content-r {
  background: #ff0000cc;
  padding: 1px 8px 1.9px 8px;
  color: whitesmoke;
  border-radius: 9px !important;
  -moz-border-radius: 9px !important;
  -webkit-border-radius: 9px !important;
  animation-name: content-hot;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: 0.85rem;
}
@keyframes content-hot {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
